<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    beStrictAboutCoversAnnotation="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutTodoAnnotatedTests="true"
    bootstrap="./vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
>
    <php>
        <ini name="error_reporting" value="E_ALL" />
        <env name="musly_binary" value="" />
    </php>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <html outputDirectory="./tests/coverage" lowUpperBound="40" highLowerBound="80" />
        </report>
    </coverage>

    <testsuites>
        <testsuite name="Unit tests">
            <directory>./tests/unit</directory>
        </testsuite>
        <testsuite name="Integration tests">
            <directory>./tests/integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
